/* Import the reindeer theme. */
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../runo/runo.scss";

/* This contains all of your theme. */
/* If somebody wants to extend the theme she will include this mixin. */
@mixin hupa {
  /* Include all the styles from the reindeer theme */
  @include runo;

  /* Insert your theme rules here */
  .logo {
    font-size: 20px;
  }
  .search {
    border-radius: 50px;
    margin-left: 6px;
  }
  .message {
    padding: 10px;
  }
}