/* Import the reindeer theme. */
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
/* @import "../runo/runo.scss"; */
/* @import "../reinder/reinder.scss"; */
/* @import "../chameleon/chameleon.scss"; */
@import "../runo/runo.scss";

/* This contains all of your theme. */
/* If somebody wants to extend the theme she will include this mixin. */
@mixin hupa {
  /* Include all the styles from the reindeer theme */
  /* @include runo; */
  /* @include reinder; */
  /* @include chameleon; */
  @include runo;

  /* Insert your theme rules here */
  .logo {
    font-size: 20px;
    color: #00b4f0;
  }
  .search {
    border-radius: 50px;
    margin-left: 6px;
  }
  .message {
    padding: 10px;
  }
  .field {
    background: white;
  }
  .compose {
    background: rgb(221, 221, 221);
    border: solid 1px grey;
    border-radius: 3px;
    overflow: hidden;
  }
  .v-icon {
    font-size: 120%;
    padding-right: 5px;
  }
  .v-button-caption {
    font-size: 82%;
  }
  .v-window-main .v-caption,
  .v-window-main .v-label {
    float: left;
    padding-right: 5px;
  }
  .folders-label {
    padding: 4px 2px 4px 10px;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    margin-bottom: 10px
  }
  .folders-label:before {
    font-family: "FontAwesome";
    content: '\F115';
    margin-right: 10px;
  }
}
